:root {
  scroll-behavior: auto;
}

@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Golos";
  src: url("/fonts/GolosText/GolosText-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

html,
body {
  font-family: sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

html {
  font-size: 0.8333333333vw;
}
@media (max-width: 849.99px) {
  html {
    font-size: 4.0712468193vw;
  }
}

main {
  min-height: 60vh;
}

body {
  font-family: "Golos", sans-serif;
  background-color: #ffffff;
  color: #383838;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.c-container {
  max-width: 107.25rem;
  margin: 0 auto;
}
@media (max-width: 849.99px) {
  .c-container {
    max-width: 22.0625rem;
  }
}

.c-accient {
  display: inline;
  color: #1cb4ff;
}

.btn_shine {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.btn_shine:hover:after {
  opacity: 1;
  top: -110%;
  left: 60%;
  transition-property: left, top, opacity;
  transition-duration: 1.3s, 1.3s, 0.18s;
  transition-timing-function: ease;
}

.btn_shine::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.button {
  display: block;
  padding: 0.9375rem 2.5rem;
  border-radius: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: #1cb4ff;
  outline: unset;
  text-align: center;
}
.button--large {
  padding: 1.25rem 2.875rem;
  font-weight: 500;
  font-size: 1.125rem;
}
.button--outline {
  outline: 1px solid #1cb4ff;
  background-color: #fff;
  color: #383838;
}

.c-checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid #1cb4ff;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.c-checkbox-wrap {
  line-height: 0;
}
.c-checkbox-wrap input {
  display: none;
}
.c-checkbox-wrap input:checked + .c-checkbox {
  background: #1cb4ff;
}
.c-checkbox-wrap input:checked + .c-checkbox .c-checkbox-icon {
  opacity: 1;
}
.c-checkbox-icon {
  width: 12px;
  height: 8.5px;
  opacity: 0;
  transition: 0.2s;
}

.aialantonov {
  display: block;
  display: flex;
}

.header-desktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1098039216);
  background-color: #fff;
}
@media (max-width: 849.99px) {
  .header-desktop {
    display: none;
  }
}
.header-desktop__block {
  display: flex;
  align-items: center;
}
.header-desktop__logo {
  height: 3.75rem;
  margin-right: 4.01875rem;
  margin-left: -0.4rem;
}
.header-desktop__menu {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.015em;
  color: #383838;
}
.header-desktop__menu-dropdown-outer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.9375rem 1.5625rem;
  padding-left: 2.5rem;
  border-radius: 0.75rem;
  background-color: #f4f8ff;
}
.header-desktop__menu-dropdown-outer .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.header-desktop__menu-dropdown-inner {
  display: none;
}
.header-desktop__menu ul {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
}
.header-desktop__email {
  font-weight: 700;
  font-size: 1rem;
  color: #383838;
  margin-left: auto;
  margin-right: 4.01875rem;
}
.header-desktop__button {
  margin-right: -0.4rem;
}
.header-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1098039216);
  background-color: #fff;
}
@media (max-width: 849.99px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mobile__button-n-menu {
  display: flex;
  gap: 0.75rem;
}
.header-mobile__logo {
  width: 6.8125rem;
}
.header-mobile__button .button {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: -0.02em;
  padding: 0.625rem 1.25rem;
}
.header-mobile__burger button {
  padding: 0.875rem 0.75rem;
  border-radius: 0.75rem;
  line-height: 0;
  background-color: #1cb4ff;
}
.header-mobile__burger button .icon {
  width: 0.8125rem;
  height: 0.5625rem;
}

.footer {
  background-color: #383838;
  color: #fff;
}
.footer__desktop {
  padding-top: 2.5rem;
  padding-bottom: 2.875rem;
  margin-left: -0.5rem;
}
@media (max-width: 849.99px) {
  .footer__desktop {
    display: none;
  }
}
.footer__desktop-top {
  display: flex;
  justify-content: space-between;
}
.footer__desktop-mid {
  margin-top: 2.375rem;
}
.footer__desktop-bottom {
  margin-top: 4.3125rem;
}
.footer__desktop-bottom-top {
  display: flex;
  justify-content: space-between;
}
.footer__desktop-bottom-top-left {
  display: flex;
  gap: 1.5rem;
}
.footer__desktop-bottom-top-right {
  display: flex;
  gap: 0.5625rem;
}
.footer__desktop-bottom-bottom {
  width: 43.5rem;
  margin-top: 1.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: #878888;
  opacity: 0.52;
}
.footer__desktop-menu ul {
  display: flex;
  gap: 3.4125rem;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.04em;
}
.footer__desktop-logo {
  width: 12.9375rem;
  margin-top: 0.125rem;
  line-height: 0;
}
.footer__desktop-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__desktop-contacts {
  display: flex;
  gap: 3.85rem;
}
.footer__desktop-email {
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.footer__desktop-phone {
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.footer__desktop-copyright {
  font-weight: 400;
  font-size: 0.875rem;
  color: #878888;
}
.footer__desktop-policy {
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #878888;
}
.footer__desktop-pr-name {
  font-weight: 400;
  font-size: 0.875rem;
  color: #878888;
}
.footer__desktop-pr-link {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer__mobile {
  display: none;
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 849.99px) {
  .footer__mobile {
    display: block;
  }
}
.footer__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.125rem;
}
.footer__mobile-logo {
  width: 7.5rem;
}
.footer__mobile-phone {
  font-weight: 400;
  font-size: 1.375rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.page-loader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.page-loader .spinner {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(108, 177, 218, 0.2666666667);
  border-top-color: #1cb4ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@media (max-width: 575.98px) {
  .page-loader .spinner {
    width: 50px;
    height: 50px;
    border-width: 3px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}