.index-banner {
  position: relative;
  height: 55.125rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0745098039);
}
@media (max-width: 849.99px) {
  .index-banner {
    height: 43rem;
    border-bottom: unset;
  }
}
.index-banner__content {
  margin-bottom: 2.5rem;
}
@media (max-width: 849.99px) {
  .index-banner__content {
    margin-bottom: 0;
    width: 100%;
  }
}
.index-banner__title {
  width: 53.125rem;
  margin-bottom: 2.125rem;
}
@media (max-width: 849.99px) {
  .index-banner__title {
    width: 87%;
    margin-bottom: 11.375rem;
  }
}
.index-banner__title h1 {
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 4.01625rem;
}
@media (max-width: 849.99px) {
  .index-banner__title h1 {
    font-size: 1.875rem;
    line-height: 2.11875rem;
  }
}
.index-banner__buttons {
  display: flex;
  gap: 1.125rem;
}
.index-banner__buttons .button {
  padding: 1.25rem 2.875rem;
}
@media (max-width: 849.99px) {
  .index-banner__buttons {
    gap: 0.75rem;
    flex-direction: column;
  }
}
.index-banner__cards {
  display: flex;
  gap: 0.5625rem;
  margin-top: 10.8rem;
}
@media (max-width: 849.99px) {
  .index-banner__cards {
    gap: 0.375rem;
    margin-top: 1.25rem;
  }
}
.index-banner__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.9375rem;
  padding: 1.25rem 1.3125rem;
  padding-bottom: 0.875rem;
  border-radius: 0.75rem;
  background-color: #f4f8ff;
  color: #383838;
  width: 12.8125rem;
}
@media (max-width: 849.99px) {
  .index-banner__card {
    width: auto;
    flex: 1;
    padding: 0.8125rem;
    padding-bottom: 0.625rem;
  }
}
.index-banner__card-1 {
  width: 5.4375rem;
}
.index-banner__card-2 {
  width: 6.25rem;
}
.index-banner__card-3 {
  width: 9.625rem;
}
.index-banner__card--large {
  width: 17.375rem;
}
@media (max-width: 849.99px) {
  .index-banner__card--large {
    width: 9.625rem;
  }
}
.index-banner__card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.38rem;
  margin-left: -0.4rem;
}
@media (max-width: 849.99px) {
  .index-banner__card-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.9975rem;
  }
}
.index-banner__card-value {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -0.04em;
  align-self: flex-end;
  margin-right: 0.6rem;
}
@media (max-width: 849.99px) {
  .index-banner__card-value {
    font-weight: 700;
    font-size: 1.5625rem;
    margin-right: 0;
  }
}
.index-banner__image {
  margin-right: -6.375rem;
  width: 66.875rem;
  line-height: 0;
  flex-shrink: 0;
  transform: translate(-6.3rem, 0);
}
@media (max-width: 849.99px) {
  .index-banner__image {
    position: absolute;
    top: 11.5625rem;
    right: -1.25rem;
    width: 20.8125rem;
    height: 14.375rem;
  }
}