.index-advantages {
  display: flex;
  gap: 1.1rem;
}
.index-advantages__title h2 {
  font-weight: 500;
  font-size: 2.25rem;
  letter-spacing: -0.04em;
}
.index-advantages__image {
  width: 40.625rem;
  margin-top: -1.2rem;
  margin-left: -4.5rem;
  line-height: 0;
}
.index-advantages__image img {
  width: 100%;
}
.index-advantages__items {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.index-advantages__item {
  padding-top: 1.1875rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #d9d9d9;
}
.index-advantages__item:last-child {
  border-bottom: none;
}
.index-advantages__item-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}
.index-advantages__item-desc {
  font-weight: 400;
  font-size: 1rem;
}