.index-leasing {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  padding-top: 7.5rem;
  padding-bottom: 7.625rem;
}
@media (max-width: 849.99px) {
  .index-leasing {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    flex-direction: column;
    gap: 0.75rem;
  }
}
.index-leasing__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.8125rem;
  row-gap: 1.125rem;
  margin-left: -0.4rem;
}
@media (max-width: 849.99px) {
  .index-leasing__cards {
    width: 100%;
    grid-template-columns: 1fr;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    margin-left: 0;
  }
}
.index-leasing__card {
  position: relative;
  overflow: hidden;
  border: 0.0625rem solid #d9d9d9;
  border-radius: 0.75rem;
  padding: 2.3125rem;
  width: 34.75rem;
  height: 20.1rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card {
    width: 100%;
    height: 12.8125rem;
    padding: 1.25rem;
  }
}
.index-leasing__card:nth-child(1) .index-leasing__card-name {
  margin-bottom: 1.4375rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(1) .index-leasing__card-name {
    margin-bottom: 0.75rem;
  }
}
.index-leasing__card:nth-child(1) .index-leasing__card-image {
  width: 25rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(1) .index-leasing__card-image {
    width: 14rem;
    bottom: -0.2rem;
  }
}
.index-leasing__card:nth-child(2) .index-leasing__card-name {
  margin-bottom: 0.5625rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(2) .index-leasing__card-name {
    margin-bottom: 0.75rem;
  }
}
.index-leasing__card:nth-child(2) .index-leasing__card-image {
  width: 24rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(2) .index-leasing__card-image {
    bottom: -0.5rem;
    right: -1rem;
    width: 14.9rem;
  }
}
.index-leasing__card:nth-child(3) .index-leasing__card-name {
  margin-bottom: 0.5625rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(3) .index-leasing__card-name {
    margin-bottom: 0.75rem;
  }
}
.index-leasing__card:nth-child(3) .index-leasing__card-image {
  width: 23rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(3) .index-leasing__card-image {
    width: 13.5rem;
    right: -1rem;
    bottom: -0.1rem;
  }
}
.index-leasing__card:nth-child(4) .index-leasing__card-name {
  margin-bottom: 1.4375rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(4) .index-leasing__card-name {
    margin-bottom: 0.75rem;
  }
}
.index-leasing__card:nth-child(4) .index-leasing__card-image {
  width: 26rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(4) .index-leasing__card-image {
    width: 13.9rem;
  }
}
@media (max-width: 849.99px) {
  .index-leasing__card:nth-child(4) .index-leasing__card-tags {
    width: 50%;
  }
}
.index-leasing__card-name {
  font-weight: 500;
  font-size: 2.25rem;
  letter-spacing: -0.04em;
  margin-bottom: 1.4375rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card-name {
    font-size: 1.5rem;
    margin-top: -0.1rem;
    margin-left: -0.1rem;
    letter-spacing: -0.04em;
  }
}
.index-leasing__card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: 18.5625rem;
}
@media (max-width: 849.99px) {
  .index-leasing__card-tags {
    gap: 0.25rem;
  }
}
.index-leasing__card-tag {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: -0.06em;
  padding: 0.40625rem 0.625rem;
  border-radius: 0.75rem;
  background: rgba(239, 241, 245, 0.6);
}
@media (max-width: 849.99px) {
  .index-leasing__card-tag {
    padding: 0.46875rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.1rem;
    letter-spacing: -0.07em;
  }
}
.index-leasing__card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 23rem;
  line-height: 0;
}
.index-leasing__form {
  position: relative;
  padding-top: 4.625rem;
  padding-left: 3.125rem;
  padding-right: 2.8125rem;
  padding-bottom: 6rem;
  background-color: #383838;
  border-radius: 0.75rem;
}
@media (max-width: 849.99px) {
  .index-leasing__form {
    padding-top: 1.875rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.index-leasing__form-title {
  font-weight: 500;
  font-size: 2.25rem;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 1.25rem;
}
@media (max-width: 849.99px) {
  .index-leasing__form-title {
    font-size: 1.5rem;
    letter-spacing: -0.04em;
    margin-bottom: 0.75rem;
  }
}
.index-leasing__form-description {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
@media (max-width: 849.99px) {
  .index-leasing__form-description {
    font-size: 0.875rem;
  }
}
.index-leasing__form-form {
  position: relative;
  z-index: 3;
  margin-top: 2.1375rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media (max-width: 849.99px) {
  .index-leasing__form-form {
    margin-top: 1.9rem;
  }
}
.index-leasing__form-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (max-width: 849.99px) {
  .index-leasing__form-form-inputs {
    gap: 0.65rem;
  }
}
.index-leasing__form-form-inputs input {
  padding: 1.28125rem 1.25rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.02em;
  color: #eff1f5;
  background-color: #242424;
}
@media (max-width: 849.99px) {
  .index-leasing__form-form-inputs input {
    letter-spacing: -0.09em;
  }
}
.index-leasing__form-form .c-check-confirm {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
@media (max-width: 849.99px) {
  .index-leasing__form-form .c-check-confirm {
    gap: 0.8rem;
  }
}
.index-leasing__form-form .c-check-confirm-text {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.125rem;
  color: #878888;
}
.index-leasing__form-form .c-check-confirm-text a {
  color: #1cb4ff;
}
@media (max-width: 849.99px) {
  .index-leasing__form-form .c-check-confirm-text {
    width: 100%;
    font-weight: 400;
    font-size: 0.875rem;
  }
}
.index-leasing__form-form-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.index-leasing__form-form__button {
  display: flex;
}
@media (max-width: 849.99px) {
  .index-leasing__form-form__button .button {
    margin-top: -0.6rem;
    padding: 0.9375rem 2.5rem;
    line-height: 1rem;
    letter-spacing: -0.08em;
  }
}